"-------------------------------------------------
"    Emulating plugins 
"-------------------------------------------------
set multiple-cursors
set surround
set commentary

"-------------------------------------------------
"    Main settings
"-------------------------------------------------
set hlsearch
set viminfo
set scrolloff=3
set incsearch
set ignorecase
set smartcase
set number
set relativenumber
set showmode
set ideajoin
set idearefactormode=keep

set history=5000
set undolevels=10000

"-------------------------------------------------
" Navigation
"-------------------------------------------------
let mapleader = ","
imap jj <Esc>
map H ^
map L $

"-------------------------------------------------
" Run/Debug action
"-------------------------------------------------
nnoremap <leader>R :action RunClass<cr>
nnoremap <leader>r :action Run<cr>
nnoremap <leader>D :action DebugClass<cr>
nnoremap <leader>d :action Debug<cr>

"-------------------------------------------------
" g-Generate action
"-------------------------------------------------
nnoremap <space>gt :action GenerateTestMethod<CR>
nnoremap <space>gs :action GenerateSetUpMethod<CR>
nnoremap <space>gG :action GenerateGetter<CR>
nnoremap <space>gS :action GenerateSetter<CR>
nnoremap <space>ga :action GenerateGetterAndSetter<CR>
nnoremap <space>ge :action GenerateEquals<CR>
nnoremap <space>gc :action GenerateConstructor<CR>
nnoremap <space>G  :action Generate<CR>
nnoremap <space>gi :action ImplementMethod<CR>
nnoremap <space>go :action OverrideMethod<CR>

"-------------------------------------------------
" Windows action
"-------------------------------------------------
nnoremap <space>e :action RecentFiles<CR>
nnoremap <space>h <c-w>h
nnoremap <space>l <c-w>l
nnoremap <space>mh :action MoveTabLeft<CR>
nnoremap <space>ml :action MoveTabRight<CR>
nnoremap <space>mg :action MoveEditorToOppositeTabGroup<CR>
nnoremap <space>u :action Unsplit<CR>
nnoremap <space>q :q<CR>
nnoremap <leader>q :action VimWindowClose<CR>
nnoremap <leader>k :action MethodUp<cr>
nnoremap <leader>j :action MethodDown<cr>

"-------------------------------------------------
" Code refactoring
"-------------------------------------------------
nnoremap <space>rr :action RenameElement<cr>

"-------------------------------------------------
" AceJump plugin 
"-------------------------------------------------
" Press `f` to activate AceJump
map <leader>f :action AceAction<CR>
" Press `F` to activate Target Mode
map <leader>F :action AceTargetAction<CR>
" Press `g` to activate Line Mode
map <leader>g :action AceLineAction<CR>

"-------------------------------------------------
" CamelCase plugin 
"-------------------------------------------------
map <space>ct :action de.netnexus.CamelCasePlugin.ToggleCamelCase<CR>
