"-------------------------------------------------
"    Emulating plugins 
"-------------------------------------------------
set surround

"-------------------------------------------------
"    Main settings
"-------------------------------------------------
set hlsearch
set viminfo
set scrolloff=3
set incsearch
set ignorecase
set smartcase
set numbers
set relativenumber
set showmode
set history=1000

"-------------------------------------------------
" Navigation
"-------------------------------------------------
let mapleader = ","
imap jj <Esc>
map H ^
map L $

"-------------------------------------------------
" Run/Debug action
"-------------------------------------------------
nnoremap <leader>R :action RunClass<cr>
nnoremap <leader>r :action Run<cr>
nnoremap <leader>D :action DebugClass<cr>
nnoremap <leader>d :action Debug<cr>

"-------------------------------------------------
" g-Generate
"-------------------------------------------------
nnoremap <space>gt :action GenerateTestMethod<CR>
nnoremap <space>gs :action GenerateSetUpMethod<CR>
nnoremap <space>gG :action GenerateGetter<CR>
nnoremap <space>gS :action GenerateSetter<CR>
nnoremap <space>ga :action GenerateGetterAndSetter<CR>
nnoremap <space>ge :action GenerateEquals<CR>
nnoremap <space>gc :action GenerateConstructor<CR>
nnoremap <space>G  :action Generate<CR>
nnoremap <space>gi :action ImplementMethod<CR>
nnoremap <space>go :action OverrideMethod<CR>

"-------------------------------------------------
" Windows action
"-------------------------------------------------
nnoremap <space>h :action VimWindowLeft<CR>
nnoremap <space>l :action VimWindowRight<CR>
nnoremap <space>q :action VimWindowClose<CR>
nnoremap <space>mh :action MoveTabLeft<CR>
nnoremap <space>ml :action MoveTabRight<CR>
nnoremap <space>mg :action MoveEditorToOppositeTabGroup<CR>
nnoremap <space>u :action Unsplit<CR>